/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;1,700&family=Arvo:wght@400;700&family=Caveat:wght@400;500&family=Dancing+Script:wght@400;500&family=Gideon+Roman&family=Lato:ital,wght@0,300;0,400;1,100;1,300&family=Luxurious+Roman&family=Poppins:ital,wght@0,300;0,800;1,300;1,900&family=Shalimar&family=Ubuntu:ital,wght@0,300;1,400&display=swap');


/* Font mailies included */
/* 



font-family: 'Andika', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Caveat', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Gideon Roman', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Shalimar', cursive;
font-family: 'Ubuntu', sans-serif; 



*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif; 
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background:linear-gradient(180deg,rgb(226, 211, 2),rgb(211,131,18),rgb(0, 0, 255));
    box-shadow: 5px 6px 10vw 2.5vw white; */
    /* border-radius: 14px; */
  animation: backcolor 1s linear infinite;
}

@keyframes backcolor {
 

    0%{
        background-image: linear-gradient( 0deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    10%{
        background-image: linear-gradient( 36deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    20%{
        background-image: linear-gradient( 72deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    30%{
        background-image: linear-gradient( 108deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    40%{
        background-image: linear-gradient( 144deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    50%{
        background-image: linear-gradient( 180deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }




60%{
        background-image: linear-gradient( 216deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    70%{
        background-image: linear-gradient( 252deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    80%{
        background-image: linear-gradient( 288deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    90%{
        background-image: linear-gradient( 324deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }
    100%{
        background-image: linear-gradient( 360deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
    }


































}





/* for particle animation */

.particle_anim{
    /* background-image:linear-gradient(360deg,#ec9010 ,#a83279); */
    width: 100%;
    height: 15em;
    position: absolute;
    top: 0em;
   
    
}

.myLogo{
width: 15em;
height: 15em;




position: absolute;
top: 5em;

}

#logo{
    width: 25em;
    height: 19em;
    position: absolute;
    top: -2em;
    left: -5.3em;
    

    -webkit-user-drag: none;
   
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.intro h2{
    font-family: 'Gideon Roman', cursive;
    font-size:4em;
position: absolute;
}

#hello{
    -webkit-user-drag: none;
   
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-style: italic;
    top: 5em;
    left: 1em;
}

.introbox{
    border: 2px solid rgba(255, 255, 255, 0.372);
    width: 20em;
    height: 20em;
    position: absolute;
    top: 20em;
    padding: 1.3em;
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.15);
    transform-style: preserve-3d;
    transform: perspective(1000px); 
}
.text{
    transform: translateZ(50px)
}

.com{
    position: absolute;
    font-weight: 900

}
.hello{
    color: rgb(255, 240, 191);
}
.im{
    bottom: -2.3em;
    right: 7.4em;
    color: rgb(255, 240, 191);
}

.name{
    bottom: -2.3em;
    left: 4.6em;
    font-family: 'Luxurious Roman', cursive;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 0.05em;
    letter-spacing: 0.06em;
    animation: txtcolor 2s infinite ease-in-out;
}


@keyframes txtcolor {
0%,100%{
    color:rgba(255, 255, 255, 0.652);
   
}
50%{
    color:rgba(0, 0, 0, 0.693);

}
}

.paratxt{
bottom: -14em;
left: 0.4em;
font-style: italic;
font-weight: bolder;
font-family: 'Gideon Roman', cursive;


}














/* responsive */

@media only screen and (min-width:320px) {

    .container{
        width: 100%;
        height: 700px;
        overflow-x: hidden;
        
    } 
    .myLogo{
width: 90px;
height:50px;
    }

    #logo{
        
        width: auto;
        height: 10em;
        position: absolute;
  top: 6em;
    left: -4.2em;
    }

    .introbox{

        width: 16em;
        height: 16em;
    }


    .im{
        left: 2.6em;
    }
.name{
    left: 4.2em;
}

.paratxt{
    top: 3.8em;
}

  }







    












